@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .boxshadow {
        box-shadow: 0 0 1px #2cf9bf,
        0 0 4px #2cf9bf,
        0 0 6px #2cf9bf,
        0 0 10px
    }

    .button-primary {
        @apply flex items-center justify-center relative w-[100px] h-[30px] rounded-[10px] bg-[#2e2e2e] border border-solid border-[#828282]
    }

    .button-primary:hover{
        @apply boxshadow
    }

    .button-secondary {
        @apply flex items-center justify-center relative w-[135px] h-[30px] rounded-[10px] bg-[#2e2e2e] border border-solid border-[#828282]
    }

    .button-secondary:hover{
        @apply boxshadow
    }

    .footer{
        box-shadow: 0px -2px 9px 0px black;
    }
}

@layer components {
    .nav{
        backdrop-filter: blur(10px);
    }

    .nav::before{
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
        transition: 0.5s;
    }

    .nav:hover::before {
        left: 100%;
    }

    .languages-p {
        @apply mt-1 ml-2.5 bg-[#838383] border-2 border-solid border-[#404040] inline-flex items-center py-[3px] px-[11px] rounded-[15px] 
    }

    .technologies{
        @apply flex flex-col justify-center items-center bg-[#82828266] border-2 border-solid w-full h-[407px] rounded-[20px] shadow-3xl ssm:max-md:w-[75vw];
        transition: box-shadow 0.2s, transform 0.2s;
    }

    .technologies:hover{
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
    }

    .technologies-img{
        @apply w-[60px] h-[60px] object-contain ssm:max-md:w-[85px] ssm:max-md:h-[85px]
    }

    .tech-list {
        @apply flex flex-col items-center object-cover h-full
    }
}

.animate-float {
    animation: floatAnimation 1.4s infinite alternate ease-in-out;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(-13px);
    }
    100% {
        transform: translateY(13px);
    }
}